<a href="https://colab.research.google.com/github/RajivDalal/ML_practice/blob/main/Python_Basics_(Day_2_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python libraries & flameworks
- Numpy:-
  - Numerical Computations & Array manipulations
- Pandas:-
  - Built on top of Numpy
  - Data structures
  - Data cleaning and transforming
- Matplotlib:-
  - Plotting functions
- Seaborn:-
  - Matplotlib enhanced
- Tensorflow:-
  - Developed by Google
  - Build and train Neural Networks
- Keras:-
  - Framework on Tensorflow
  - Used for Deep Learning and
- Flask:-
  - Web Applications (Backend)

```python
print("Hello world")
```

# Print statements

In [ ]:
print("Hello world")

Hello world

# String Formatting

In [ ]:
name = "Raju"
age = 20
print("Name:{}, Age:{}".format(name,age))

Name:Raju, Age:20

In [ ]:
print("Ram","Lakshman","Bharat","Shatrughn",sep=",",end="")

Ram,Lakshman,Bharat,Shatrughn

# Data types
- Int
- Float
- Bool

In [ ]:
a = 100
b = 10.5
c = True

print(type(a),type(b),type(c),sep=",",end="")

<class 'int'>,<class 'float'>,<class 'bool'>

# Operators
- Arithmentic: +,-,*,//,%,**
- Relational: ==,<,>,<=,>=,!=
- Membership: in

# List

In [ ]:
lst = ["Rajiv",20,13.5,True]
print(lst)
print(len(lst)) #Length
print(lst[1]) #nth element
print(lst[-1]) #last element
lst[2] = "a"
print(lst)

['Rajiv', 20, 13.5, True]
4
20
True
['Rajiv', 20, 'a', True]

In [ ]:
#Slicing: Access a range of values from the list

lst[1:3] #[included:excluded]
lst[2:]

['a', True]

In [ ]:
#Reversing list
lst[::-1]

[True, 'a', 20, 'Rajiv']

In [ ]:
#Modifying list
lst.append("abc")
print(lst)
lst.insert(1,"Rizwan")
print(lst)
lst.remove("abc")
print(lst)
lst.pop()
print(lst)
lst.clear()
print(lst)

['Rajiv', 20, 'a', True, 'Rizwan', 'Rizwan', 'abc']
['Rajiv', 'Rizwan', 20, 'a', True, 'Rizwan', 'Rizwan', 'abc']
['Rajiv', 'Rizwan', 20, 'a', True, 'Rizwan', 'Rizwan']
['Rajiv', 'Rizwan', 20, 'a', True, 'Rizwan']
[]

# Tuples
- Immutable ordered collection of elements

In [ ]:
tup = ("Rajiv", "Vadodara",25)
print(type(tup))

<class 'tuple'>

In [ ]:
#Length
print(len(tup))

#Indexing
print(tup[0])

#Slicing
print(tup[1:3])

#Deleting
del(tup)

3
Rajiv
('Vadodara', 25)

In [ ]:
tup = (2,4,6,1,5,3)

#Sorting (Sort function doesn't work)
y = sorted(tup)
print(y) #Converts to list
tup = tuple(y)
print(tup)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

# Sets
- Unordered collection
- Cannot be indexed

In [ ]:
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#Inserting elements
a.add(6)
print(a)

#Deleting elements
a.remove(5)
print(a)

a.clear()
print(a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}
set()

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}

print(set1-set2)
print(set2-set1)

{1}
{4}

# Dictionary
- Key value pairs

In [ ]:
dic = {"name":"Rajiv", "age":20}
print(dic)
print(type(dic))
print(dic["name"])

{'name': 'Rajiv', 'age': 20}
<class 'dict'>
Rajiv

In [ ]:
#Update dictionary
dic["age"] = 40
print(dic)

{'name': 'Rajiv', 'age': 40}

In [ ]:
#Update keys
dic["Exp"] = dic.pop('age')
print(dic)

{'name': 'Rajiv', 'Exp': 40}

In [ ]:
#Useful functions
print(dic.items())
print(dic.keys())
print(dic.values())
print(len(dic))

dict_items([('b', 2), ('c', 3)])
dict_keys(['b', 'c'])
dict_values([2, 3])
2

In [ ]:
dic = {"a":1,"b":2,"c":3}
dic.pop('a')
print(dic)

dic["d"] = 4
dic["e"] = 5
print(dic)

{'b': 2, 'c': 3}
{'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Input

In [ ]:
a = int(input("Enter a number"))
b = float(input("Enter a decimal"))
print(a,b)

Enter a number5
Enter a decimal10
5 10.0

# Statements
- If
- If else
- If elif
- Nested if else

# Loops
- For loop
- While loop

In [ ]:
lst = ["Rajiv","a",10.5,69]
for i in lst:
  print(i)
print("\n")
for i in range(1,10):
  print(i,end=" ")

Rajiv
a
10.5
69


1 2 3 4 5 6 7 8 9

In [ ]:
i = 0

while i<=5:
  i+=1
  if(i==2):
    continue
  print(i)

1
3
4
5
6

# Functions

In [ ]:
def greeting(name):
  print("Hello "+name)

#Calling a function
greeting("Rajiv")

Hello Rajiv

# Lambda Functions
- lambda args: expression

In [ ]:
x = lambda a:a+10
print(x(20))

y = lambda a,b: a+b
print(y(2,5))

30
7